h1 {
  text-align: center;
}
#buttonDiv{
  text-align: center;
}
#answerOne{
  background-color: #15909D;
}

#answerTwo{
  background-color: #15909D;
}

#answerThree{
  background-color:#15909D;
}

#answerFour{
  background-color:#15909D;
}

#startButton{
  background-color: #15909D;
  text-align: center;
}

#buttonDiv{
  text-align: center;
}

#answers{
  text-align: center;